<link href="assets/css/style.css" rel="stylesheet"><\link>

<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <a class="linkedin-logo" href="https://www.linkedin.com/in/keaton-markey-7822b3205/">
            <img src="assets/logos/LI-Logo.png" alt="LinkedIn Profile" style="border-radius: 3px; width: 205px; height: 50px;">
        </a>
        
        <a class="github-logo" href="https://github.com/kmarkey">
            <img src="assets/logos/GitHub_Logo.png" alt="Github Profile" style="border-radius: 3px; width: 122px; height: 50px;">
        </a>

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
