<link href="assets/css/style.css" rel="stylesheet">

<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <hr class="spacer">
        <div class="logos">
            <a class="linkedin logo" href="https://www.linkedin.com/in/keaton-markey-7822b3205/">
                <img src="assets/logos/LI-In-Bug.png" alt="LinkedIn Profile" style="border-radius: 3px; width: 47px; height: 40px;">
            </a>

            <a class="github logo" href="https://github.com/kmarkey">
                <img src="assets/logos/github-mark-white.png" alt="Github Profile" style="border-radius: 3px; width: 41px; height: 40px;">
            </a>
        </div>
        <div class="content is-small has-text-centered">
            <p class="author ftext">Website by Keaton Markey</p>
        </div>
        <div class="content is-small has-text-centered">
            <p class="creator">Bulma Clean Theme by <a class="ftext" href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
        <div class="content is-small has-text-centered">
            <a class="edit page ftext" href="https://github.com/kmarkey/kmarkey.github.io">Suggest edits here</a>
        </div>
    </div>
</footer>
