/* Define the color palette */
:root {
  --alabaster: #f5f1e5ff;
  --dutch-white: #e7ddbcff;
  --ecru: #cdbd85ff;
  --satin-sheen-gold: #b39c4dff;
  --moss-green: #768948ff;
  --fern-green: #607744ff;
  --hunter-green: #34623fff;
  --pine-tree: #1e2f23ff;
  --black-olive: #40403eff;
  --orange-red: #f25f5cff;
}

/* Subsections */
section {
  background-color: var(--alabaster);
  color: var(--black-olive);
}

/* Body sections */
body {
  background-color: var(--alabaster);
  color: var(--pine-tree);
  padding: 20px;
}

/* Other styles */
h1, h2, h3 {
  background-color: var(--alabaster);
  color: var(--black-olive);
}

p {
  background-color: var(--alabaster);
}

a {
  color: var(--pine-tree);
}

.code {
  color: var(--black-olive);
  background-color: var(--dutch-white);
  border: 3px var(--satin-sheen-gold);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: var(--black-olive);
    cursor: default;
    background-color: ;
    border: 1px solid var(--hunter-green);
    border-bottom-color: var(--hunter-green);
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: var(--alabaster);
    background-color: var(--fern-green);
    border-color: var(--hunter-green);
}

.hljs-number {
    color: var(--hunter-green);
}

.hljs-keyword {
    color: var(--orange-red);
    font-weight: bold;
}

.hljs-string {
    color: var(--hunter-green);
}
